@import url('https://fonts.googleapis.com/css?family=Ubuntu');
#message-pane {
    background: url(/assets/images/0MjjbwH.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right bottom
}

.message-card{
    max-width: 60%;
    border-radius: 10px;
    padding: 10px;
    font-size: 18px;
    font-family: 'Ubuntu',sans-serif;
    box-shadow: 2px 0px 5px 2px #aae29e}


.message-time{
    margin-top: 4px;
    float: right;
    color: #666666;
    font-size: 10px;
}

#form-card{margin: 0px;}
